:root {
  --dark-gray: #282c34;
  --light-blue: #61dafb;
  --padding: 24px;
}

*::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(47%) saturate(3207%) hue-rotate(161deg) brightness(132%) contrast(65%);
}

input[type="color"] {
  overflow: hidden;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  margin: -16px;
  padding: 0;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: var(--dark-gray);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  max-height: 20vh;
  justify-content: center;
}

.App-title {
  color: white;
  margin: 16px auto;
}

.App-main {
  background-color: var(--dark-gray);
  margin: 0;
  min-height: calc(80vh - 48px);
  padding: var(--padding);
}

.App-main form {
  border: 1px solid var(--light-blue);
  border-radius: 16px;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 16px auto;
  max-width: 80vw;
  padding: var(--padding);
}

.App-main form .form-input {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px;
}

.App-main form label {
  text-align: left;
  margin-top: 16px;
}

.App-main form input {
  background-color: var(--dark-gray);
  border: 1px solid var(--light-blue);
  border-radius: 20px;
  color: white;
  margin: 8px 0 16px;
  padding: 8px 12px;
}

.App-main form input:focus {
  outline: none;
}

.App-main form .button-container {
  display: block;
  flex: 1 0 100%;
  margin: 8px auto 16px;
}

.App-main form .button-container button {
  background-color: var(--light-blue);
  border: none;
  border-radius: 20px;
  color: var(--dark-gray);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 8px var(--padding);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}